<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        <tr>            
            <td> <%= @friend.name %> </td>
            <td> <%= @friend.email %> </td>
        </tr>
    </tbody>
</table>